body{
    padding: 25%;
    font-size: 2rem;
    color:aqua;
    


}
p{
    text-transform: capitalize;
       text-align: justify; 
     text-decoration:underline; 
    text-indent: 2rem;
    font-style: italic;
    text-shadow: 2px 2px 5px  black;
        
}
#box{
    
    width: 100px;
    height: 100px;
    background-color: blue;
    box-shadow: 2px 2px 5px red;



}